:root {
  --brand-color: #2b6878;
  --brand-dk: #0c1d21;
  --brand-mid: #48a5bd;
  --brand-lt: #e7f3f6;
  --brand-white: #f5fafb;
  --white: #fff;
  --fluid-pad: calc(8px + 1.5625vw);
  --navfluid-pad: calc(4px + 1.5625vw);
  --nav-pad: calc(2px + 0.64vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6em;
}

body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.page-wrap {
  background-color: var(--brand-dk);
  width: min(100%, 2000px);
  height: 100%;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: var(--brand-dk);
}

.section {
  padding: var(--fluid-pad) 0;
}

.section-dk {
  background-color: var(--brand-dk);
}

.hac-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hac-roboto-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.hac-league-gothic {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
}

.hac-grid {
  display: grid;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Button Styles */
.hac-btn {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1rem 1.25rem;
  margin: 1rem 0.6rem;
  border-radius: 10px;
  min-width: 120px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.hac-btn-cta {
  min-width: 220px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.hac-btn-accent {
  background-color: rgb(223, 51, 188);
}

.hac-btn-accent:hover {
  background-color: #963683;
}

.hac-btn-primary {
  background-color: var(--brand-color);
}

.hac-btn-primary:hover {
  background-color: #368396;
}

.hac-btn-inverse {
  background-color: var(--white);
  border: 2px solid var(--white);
  color: var(--brand-color) !important;
}

.hac-btn-inverse:hover {
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  color: #fff !important;
}

.hac-btn-sm {
  display: block;
  color: var(--white) !important;
  padding: min(0.5rem, 1vw);
  margin: 0.6rem;
  border-radius: 10px;
  min-width: 200px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.hac-btn-solo {
  margin-right: 2rem;
}

.hac-btn-negative {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}

.hac-btn-negative:hover {
  background-color: var(--brand-color);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.hac-btn-fancy {
  /* border: 3px solid #fff; */
  background: var(--brand-color);
  background: linear-gradient(
    var(--angle),
    /* rgba(43, 104, 120, 0.8) 0%,
    rgb(90, 174, 196, 0.8) 100% */
    var(--brand-color) 0%,
    rgba(90, 174, 196, 0.94) 100%
  );
  color: #fff;
  animation: 6s fade linear infinite;
}

.hac-btn-fancy:hover {
  background: linear-gradient(
    var(--angle),
    rgba(43, 104, 120, 1) 0%,
    rgb(90, 174, 196, 1) 100%
  );
}

@keyframes fade {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
/* End Button Styles */

/* Nav Styles */
.nav-pad {
  padding: var(--nav-pad);
}

.navfluid-pad {
  padding: var(--navfluid-pad);
}

.fluid-pad {
  padding: var(--fluid-pad);
}

.hac-nav-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0;
}

@keyframes megaMenu {
  0% {
    opacity: 0;
    transform: translateY(-50);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hac-nav-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 0fr;
  row-gap: 0;
  animation-name: megaMenu;
}

.hac-nav-grid.show {
  grid-template-rows: 3rem 1fr;
}

.hac-nav-grid > .hac-megamenu {
  border-radius: 0px;
  grid-row: 2/3;
  overflow: hidden;
  opacity: 0;
  padding: 0;
}

.hac-nav-grid.show > .hac-megamenu {
  opacity: 1;
}

.hac-mainmenu-grid {
  display: grid;
  grid-template-rows: repeat(auto);
  background-color: var(--white);
  border-radius: 0px;
}

.hac-mainmenu-grid > * {
  padding: var(--navfluid-pad);
}

.hac-navbar {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 var(--nav-pad);
}

.hac-logo-navbar {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  align-self: center;
  margin-right: auto;
}

.hac-logo-navbar svg {
  width: 64%;
}

#navicon {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
}

#navicon svg {
  fill: var(--white);
  height: 2.44rem;
  width: 2.44rem;
}

.hac-glass-morph-dark {
  backdrop-filter: blur(12px);
  border-radius: 0;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.08),
    inset 0 -1px 0 rgba(255, 255, 255, 0.07),
    inset 1px 0 0 rgba(255, 255, 255, 0.08),
    inset -1px 0 0 rgba(255, 255, 255, 0.07),
    inset 0 2rem 3rem rgba(128, 128, 128, 0.2),
    inset 0 -2rem 3rem rgba(0, 0, 0, 0.4),
    0 4px 30px rgba(0, 0, 0, 0.084);
}

.hac-glass-morph {
  backdrop-filter: blur(12px);
  border-radius: 12px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2),
    inset 1px 0 0 rgba(255, 255, 255, 0.4),
    inset -1px 0 0 rgba(255, 255, 255, 0.2),
    inset 0 2rem 3rem rgba(0, 0, 0, 1.1),
    inset 0 -2rem 3rem rgba(255, 255, 255, 1, 1),
    0 4px 30px rgba(0, 0, 0, 0.084);
}
/* End Nav Styles */

/* Hero Styles */
.hac-header-container {
  position: relative;
}

.hac-hero-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 3vw 1fr 3vw;
  grid-template-rows: 3vw 1fr 5vw;
  background-color: #353535;
  overflow: hidden;
}

.hac-hero-img {
  grid-column: 1/4;
  grid-row: 1/4;
  display: flex;
}

.hac-hero-img picture img {
  display: block;
  width: 100%;
  height: auto;
}

.hac-hero-overlay {
  display: flex;
  height: 100%;
  grid-column: 1/4;
  grid-row: 1/4;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.01) 66%
  );
}

.hac-hero-logo-svg {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.hac-hero-logo-svg g path {
  fill: #fff;
  fill-opacity: 1;
}

.hac-hero-action {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: center;
}

.hac-hero-tagline {
  align-self: center;
  font-size: clamp(2.84rem, 3vw, 4rem);
  color: var(--white);
  line-height: 1.4em;
  margin-left: var(--navfluid-pad-pad);
}

.hac-hero-cta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  /* z-index: 100; */
}

@media (min-width: 768px) {
  .hac-hero-grid {
    grid-template-columns: 3rem 1fr 1fr 3rem;
    grid-template-rows: 2fr auto 1fr;
    align-items: center;
    max-width: 2000px;
  }

  .hac-nav-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.24rem 0fr;
    row-gap: 0;
    /* transition: all 184ms cubic-bezier(0.544, -0.02, 0.07, 0.84); */
  }

  .hac-nav-grid.show {
    grid-template-rows: 3.24rem 1fr;
  }

  .hac-logo-navbar svg {
    width: 68%;
  }

  #navicon svg {
    height: 2.84rem;
    width: 2.84rem;
  }

  .hac-hero-img {
    grid-column: 1/5;
  }

  .hac-hero-overlay {
    grid-column: 1/5;
    grid-row: 1/4;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.01) 84%
    );
  }

  .hac-hero-tagline {
    align-self: flex-start;
    margin-left: var(--navfluid-pad);
  }

  .hac-hero-action {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
    align-items: flex-end;
  }

  .hac-navbar {
    padding: calc(2px + 0.64vw);
  }

  .hac-nav-grid {
    row-gap: 1rem;
  }

  .hac-logo-navbar {
    width: 4rem;
    height: 4rem;
  }

  .hac-nav-grid > .hac-megamenu {
    padding: calc(2px + 0.984vw);
    border-radius: 12px;
  }

  .hac-nav-container {
    padding: var(--nav-pad);
  }

  .hac-mainmenu-grid {
    border-radius: 12px;
  }

  .hac-glass-morph-dark {
    border-radius: 12px;
    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.08),
      inset 0 -1px 0 rgba(255, 255, 255, 0.07),
      inset 1px 0 0 rgba(255, 255, 255, 0.08),
      inset -1px 0 0 rgba(255, 255, 255, 0.07),
      inset 0 2rem 3rem rgba(128, 128, 128, 0.084),
      inset 0 -2rem 3rem rgba(0, 0, 0, 0.284),
      0 4px 30px rgba(0, 0, 0, 0.084);
  }
}
